@model IEnumerable<study4_be.Models.Course>
@{
    ViewData["Title"] = "Course List";
}
<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 100px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

    .search__input {
        width: 100%;
        padding: 10px;
    }
</style>

<h2 style="text-align:center">LIST Course</h2>
<input id="searchInput" class="search__input col-11" type="text" placeholder="Search anything you want..." />
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Course", "Course_Create", "Courses", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Sale</th>
                    <th>Tag</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>
                            <img style="border-radius:0%!important" src="@Url.Content(course.CourseImage)" height="150" width="150" id="previewImg" />
                        </td>
                        <td>
                            @course.CourseId
                        </td>
                        <td class="item">
                            @course.CourseName
                        </td>
                        <td class="item">
                            <label class="badge badge-danger">
                                @course.CourseDescription
                            </label>
                        </td>
                        <td>
                            <label>
                                @course.CoursePrice
                            </label>
                        </td>
                        <td>
                            <label>
                                @course.CourseSale<span>%</span>
                            </label>
                        </td>
                        <td class="item">
                            <label>
                                @course.CourseTag
                            </label>
                        </td>
                        <td>
                            <a href="@Url.Action("Course_Edit", "Courses", new { id = course.CourseId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Course_Delete", "Courses", new { id = course.CourseId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Course_Details", "Courses", new { id = course.CourseId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        table = document.querySelector('.table tbody');
        tr = table.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[2];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    });
</script>