@model study4_be.Models.Course

<h4>Delete Course</h4>
<hr />
<div class="card-body">
    <p>Are you sure you want to delete this?</p>
    <div>
        <h4>@Model.CourseName</h4>
        <p>@Model.CourseDescription</p>
        <p>@Model.CoursePrice</p>
        <p>@Model.CourseTag</p>
    </div>
    <form asp-action="Course_Delete">
        <input type="hidden" asp-for="CourseId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Course_List", null, new { @class = "btn btn-light" })
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
