@model IEnumerable<study4_be.Models.ViewModel.ContainerListViewModel>
@{
    ViewData["Title"] = "Container List";
}

<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 200px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

</style>

<h2 style="text-align:center">LIST CONTAINERS</h2>
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Container", "Container_Create", "Container", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Container Id</th>
                    <th>Container Title</th>
                    <th>Unit Title</th>
                    <th>Course name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var container in Model)
                {
                    <tr>
                        <td>
                            <p>@container.container.ContainerId</p>
                        </td>
                        <td class="item">
                            <p>@container.container.ContainerTitle</p>
                        </td>

                        <td class="item">
                            <p>@container.unitTitle</p>
                        </td>

                        <td class="item">
                            <p>@container.courseName</p>
                        </td>
                        <td>
                            <a href="@Url.Action("Container_Edit", "Container", new { id = container.container.ContainerId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Container_Delete", "Container", new { id =container.container.ContainerId})" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Container_Details", "Container", new { id = container.container.ContainerId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>