@model study4_be.Models.Question

<h4>Delete Question</h4>
<hr />
<div class="card-body">
    <p>Are you sure you want to delete this?</p>
    <div>
        <h4>@Model.QuestionId</h4>
        <p>@Model.QuestionParagraph</p>
        <p>@Model.QuestionTranslate</p>
        <p>@Model.QuestionText</p>
        <p>@Model.OptionA</p>
        <p>@Model.OptionB</p>
        <p>@Model.OptionC</p>
        <p>@Model.OptionD</p>
        <p>@Model.CorrectAnswer</p>
    </div>
    <form asp-action="Question_Delete">
        <input type="hidden" asp-for="QuestionId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Question_List", null, new { @class = "btn btn-light" })
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
