@model IEnumerable<study4_be.Models.ViewModel.QuestionListViewModel>


<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 200px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

    .search__input {
        width: 100%;
        padding: 10px;
    }

</style>

<h2 style="text-align:center">LIST QUESTIONS</h2>
<input id="searchInput" class="search__input col-11" type="text" placeholder="Search anything you want..." />
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Question", "Question_Create", "Question", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Question Id</th>
                    <th>Question Text</th>
                    <th>Question Paragraph</th>
                    <th>Question AUDIO</th>
                    <th>Question Translate</th>
                    <th>Question Image</th>
                    <th>Answer</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>Tag</th>
                    <th>Lesson Title</th>
                    <th>Container Title</th>
                    <th>Unit Title</th>
                    <th>Course Title</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.question.QuestionId</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionText</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionParagraph</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionAudio</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionTranslate</p>
                        </td>
                        <td>
                            <p>@item.question.QuestionImage</p>
                        </td>
                        <td class="item">
                            <p>@item.question.CorrectAnswer</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionA</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionB</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionC</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionD</p>
                        </td>
                        <td>
                            <p>@item.tag</p>
                        </td>
                        <td class="item">
                            <p>@item.lessonTittle</p>
                        </td>
                        <td class="item">
                            <p>@item.containerTittle</p>
                        </td>
                        <td class="item">
                            <p>@item.unitTittle</p>
                        </td>
                        <td class="item">
                            <p>@item.courseName</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Question_Edit","Question",new { id = item.question.QuestionId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Delete","Question",new { id = item.question.QuestionId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Details","Question",new { id = item.question.QuestionId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    document.getElementById('searchInput').addEventListener('keyup', function () {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        table = document.querySelector('.table tbody');
        tr = table.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName('td')[1];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    });
</script>