@model List<study4_be.Models.ViewModel.QuestionListViewModel>


<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 100px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

    .search__input {
        width: 100%;
        padding: 10px;
    }

    .adSearch__container {
        display: flex;
        margin: 20px 0px;
    }

    #searchByContainerTitle, #searchByUnitTitle, #searchByCourseTitle, #searchByLessonTitle {
        margin: 0px 10px;
    }

</style>

<h2 style="text-align:center">LIST QUESTIONS EXAM</h2>
<input id="searchInput" class="search__input col-11" type="text" placeholder="Search anything you want..." />
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Question", "Question_Exam_Create", "Question_Exam", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Question Image</th>
                    <th>Question Id</th>
                    <th>Question Text</th>
                    <th>Question Paragraph</th>
                    <th>Answer</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>
                    <th>Tag</th>
                    <th>Options</th>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img style="border-radius:0%!important" src="@Url.Content(@item.question.QuestionImage)" height="150" width="150" id="previewImg" alt="Question-Exam-Img" />
                        </td>
                        <td>
                            <p>@item.question.QuestionId</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionText</p>
                        </td>
                        <td class="item">
                            <p>@item.question.QuestionParagraph</p>
                        </td>
                        <td class="item">
                            <p>@item.question.CorrectAnswer</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionA</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionB</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionC</p>
                        </td>
                        <td class="item">
                            <p>@item.question.OptionD</p>
                        </td> 
                        <td class="item">
                            <p>@item.question.QuestionTag</p>
                        </td> 
                        <td>
                            <a href="@Url.ActionLink("Question_Exam_Edit","Question_Exam",new { id = item.question.QuestionId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Exam_Delete","Question_Exam",new { id = item.question.QuestionId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Exam_Details","Question_Exam",new { id = item.question.QuestionId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function filterTable() {
        var input, filter, table, tr, td, i, txtValue;
        input = document.getElementById('searchInput');
        filter = input.value.toUpperCase();
        table = document.querySelector('.table tbody');
        tr = table.getElementsByTagName('tr');

        for (i = 0; i < tr.length; i++) {
            tdQuestionId = tr[i].getElementsByTagName('td')[1];

            if (tdQuestionId) {
                txtValue = tdQuestionId.textContent || tdQuestionId.innerText;

                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }

    document.getElementById('searchInput').addEventListener('keyup', filterTable);
</script>