@model study4_be.Models.Staff

<h4>Delete Staff</h4>
<hr />
<div class="card-body">
    <p>Are you sure you want to delete this?</p>
    <div>
        <h4>@Model.StaffId</h4>
        <p>@Model.StaffName</p>
        <p>@Model.StaffType</p>
        <p>@Model.StaffEmail</p>
        <p>@Model.StaffCmnd</p>
    </div>
    <form asp-action="Staff_Delete">
        <input type="hidden" asp-for="StaffId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Staff_List", null, new { @class = "btn btn-light" })
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>
