@model study4_be.Models.Vocabulary

<h4>Delete Tag</h4>
<hr />
<div class="card-body">
    <p>Are you sure you want to delete this?</p>
    <div>
        <h4>@Model.VocabId</h4>
        <h4>@Model.VocabType</h4>
        <h4>@Model.Example</h4>
        <h4>@Model.Explanation</h4>
        <h4>@Model.Mean</h4>
    </div>
    <form asp-action="Vocab_Delete">
        <input type="hidden" asp-for="VocabId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        @Html.ActionLink("Cancel", "Vocab_List", null, new { @class = "btn btn-light" })
    </form>
    <div asp-validation-summary="All" class="text-danger"></div>
</div>