@model IEnumerable<study4_be.Models.Tag>
@{
    ViewData["Title"] = "Tag List";
}

<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 200px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

</style>

<h2 style="text-align:center">LIST TAGS</h2>
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Tags", "Tag_Create", "Tags", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Tag Id</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.TagId</p>
                        </td>
                        <td>
                            <a href="@Url.Action("Tag_Edit", "Tags", new { id = item.TagId})" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Tag_Delete", "Tags", new { id =  item.TagId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Tag_Details", "Tags", new { id =  item.TagId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>