@model IEnumerable<study4_be.Models.Unit>

<style>
    .item {
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        max-width: 200px
    }

    .text-btn-admin {
        text-decoration: none;
        color: white;
    }

</style>

<h2 style="text-align:center">LIST UNITS</h2>
<button class="btn btn-block btn-lg btn-gradient-primary mt-4"> @Html.ActionLink("+ Add Unit", "Unit_Create", "Unit", null, new { @class = "text-btn-admin" })</button>
<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>UnitId</th>
                    <th>CourseId</th>
                    <th>UnitTittle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unit in Model)
                {
                    <tr>
                        <td>
                            <p>@unit.UnitId</p>
                        </td>
                        <td>
                            <p>@unit.CourseId</p>
                        </td>
                        <td class="item">
                            <p>@unit.UnitTittle</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Unit_Edit","Unit",new { id = unit.UnitId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Unit_Delete","Unit",new { id = unit.UnitId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Unit_Details","Unit",new { id = unit.UnitId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>